<div class="introducao">
    <app-navbar></app-navbar>
    <div class="ui two column grid" style="margin: 0">
        <div class="column" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div class="informativo">
                <div class="informativo__titulo"> Plataforma Klasse.IO Online <span style="color: #194990">Número #1</span> no Brasil. </div>
                <div class="informativo__texto"> Com a Klasse você pode ir para a escola ou faculdade, em qualquer lugar! Obtenha agora! </div>
                <img src="./assets/apple-store.png" draggable="false">
                <img src="./assets/google-play.png" draggable="false">
            </div>
        </div>
        <div class="column" style="text-align: center; padding: 0">
            <img src="./assets/1.PNG" draggable="false" height="100%">
        </div>
    </div>
</div>
<div style="width: 100%;">
    <div class="feedback">
        <div class="feedback__item">
            <span style="color: #194990"> 5 </span> <span style="font-weight: bold;">+</span>
            <div class="feedback__item__texto">
                <p> Anos de confiança do ministério da educação e cultura. </p>
            </div>
        </div>
        <div class="feedback__item">
            <span style="color: #194990"> 400 </span> <span style="font-weight: bold;">+</span>
            <div class="feedback__item__texto" style="border-left: #cac7c7 solid 2px; border-right: #cac7c7 solid 2px">
                <p> Agências e escolas que trabalharam juntas.</p>
            </div>
        </div>
        <div class="feedback__item">
            <span style="color: #194990;"> 15.000.000 </span> <span style="font-weight: bolder;">+</span>
            <div class="feedback__item__texto">
                <p>Usuários e todos os estudantes brasileiros que usam.</p>
            </div>
        </div>
    </div>
