<div class="introducao">
  <app-navbar></app-navbar>
  <div class="ui stackable aligned two column grid margin-0">
    <div class="column introducao__container">
      <div class="introducao__informativo">
        <div class="introducao__informativo__titulo "> Plataforma Klasse.IO Online <span>Número
            #1</span> no
          Brasil. </div>
        <div class="introducao__informativo__texto "> Com a Klasse você pode ir para a escola ou faculdade, em qualquer
          lugar!
          Obtenha agora! </div>
        <img src="./assets/apple-store.png " alt="logo da apple store." draggable="false ">
        <img src="./assets/google-play.png " alt="logo da google play." draggable="false ">
      </div>
    </div>
    <div class="column introducao__container">
      <img src="../../assets/1.png " alt="Garota sorrindo olhando para celular." draggable="false">
    </div>
  </div>
  <div class="feedback">
    <div class="feedback__item">
      <span> 5 </span>
      <span><strong>+</strong></span>
      <div class="feedback__item__texto ">
        <p> Anos de confiança do ministério da educação e cultura. </p>
      </div>
    </div>
    <div class="feedback__item ">
      <span> 400 </span>
      <strong>+</strong>
      <div class="feedback__item__texto feedback__item__texto--border">
        <p> Agências e escolas que trabalharam juntas.</p>
      </div>
    </div>
    <div class="feedback__item ">
      <span> 15.000.000 </span>
      <span><strong>+</strong></span>
      <div class="feedback__item__texto ">
        <p>Usuários e todos os estudantes brasileiros que usam.</p>
      </div>
    </div>
  </div>
</div>
