@import "../../consts.scss";
@import "../../mixins.scss";

.introducao {
  background: $background-color;
  background: $background-gradient;
  width: 100%;

  &__container {
    @include flex(column, center, center);
  }

  &__informativo {
    width: 60%;

    &__titulo {
      font-size: 3rem;
      font-weight: bolder;
      line-height: 3rem;

      span {
        color: $primary-color;
      }
    }

    &__texto {
      margin-top: 5%;
      font-size: 1.2rem;
      line-height: 2rem;
      color: $gray-color;
      font-weight: 400;
    }

    img {
      margin-top: 5%;
      margin-right: 5%;
      cursor: pointer;
      width: 100px;
      height: 30px;
    }
  }
}

.feedback {
  @include flex(row, stretch, center);
  background-color: $feedback-background;
  text-align: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;

  &__item {
    padding: 30px 0;
    max-width: 33.33%;

    span {
      font-weight: bolder;
      font-size: 1.5rem;
      color: $primary-color;
    }

    &__texto {
      font-size: 1.2rem;
      padding: 5%;

      &--border {
        border-left: $border-introducao;
        border-right: $border-introducao;
      }
    }
  }
}
