<div class="introducao">
    <app-navbar></app-navbar>
    <div class="ui two column grid" style="margin: 0">
        <div class="column" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div class="informativo">
                <div class="informativo__titulo"> Plataforma Klasse.IO Online <span style="color: #194990">Número #1</span> no Brasil. </div>
                <div class="informativo__texto"> Com a Klasse você pode ir para a escola ou faculdade, em qualquer lugar! Obtenha agora! </div>
                <img src="./assets/apple-store.png" draggable="false" width="100px" height="30px">
                <img src="./assets/google-play.png" draggable="false" width="100px" height="30px">
            </div>
        </div>
        <div class="column" style="text-align: center; padding: 0">
            <img src="./assets/1.png" draggable="false">
        </div>
    </div>
</div>
