<div class="features" id="features">
    <div class="ui two column grid" style="margin: 0">
        <div class="column">
            <div class="texto">
                <div class="texto__titulo"><span>Funcionalidades especiais apenas no </span>
                    <span class="secundary-color"> Klasse.IO </span> </div>
            </div>
        </div>
        <div class="column" style="text-align: center; padding: 0">
            <div style="display:flex; flex-direction: row; justify-content: center; padding: 10% 10% 5% 20%;">
                <a href="#"> Saiba mais sobre as funcionalidades <i class="ui angle right icon"></i></a>
            </div>
        </div>
    </div>
    <div class="ui two row grid" style="margin: 0; padding: 2% 15%">
        <div class="row">
            <div class="ui card" style="margin: 0 30px 0px 0px;">
                <div class="content">
                    <div class="icon-grid">
                        <i class="building  outline icon"></i>
                    </div>
                    <span class="header">Classes Online</span>
                    <div class="description">
                        Acompanhe as aulas on-line ao vivo de maneira eficaz e interativa.
                    </div>
                </div>
            </div>
            <div class="ui card" style="margin: 0 30px 0px 0px;">
                <div class="content">
                    <div class="icon-grid">
                        <i class="calendar alternate outline icon"></i>
                    </div>
                    <span class="header">Cronograma</span>
                    <div class="description">
                        Você pode visualizar os horários das aulas e ativar alarmes.
                    </div>
                </div>
            </div>
            <div class="ui card" style="margin: 0;">
                <div class="content">
                    <div class="icon-grid">
                        <i class="check square outline icon"></i>
                    </div>
                    <span class="header">Lista de Tarefas</span>
                    <div class="description">
                        As tarefas são inseridas pelo professor e aparecem automaticamente no aplicativo do aluno.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ui card" style="margin: 0 30px 0px 0px;">
                <div class="content">
                    <div class="icon-grid">
                        <i class="rocketchat icon"></i> </div>
                    <span class="header">Chat</span>
                    <div class="description">
                        Você pode consultar ou apenas fazer perguntas e respostas com o professor ou instrutor fora da classe.
                    </div>
                </div>
            </div>
            <div class="ui card" style="margin: 0 30px 0px 0px;">
                <div class="content">
                    <div class="icon-grid">
                        <i class="file outline icon"></i> </div>
                    <span class="header">Acesso aos Materiais</span>
                    <div class="description">
                        Você pode baixar o material que está sendo ensinado.
                    </div>
                </div>
            </div>
            <div class="ui card" style="margin-top: 0">
                <div class="content">
                    <div class="icon-grid">
                        <i class="upload icon"></i> </div>
                    <span class="header">Upload de Atividades</span>
                    <div class="description">
                        Com o Klasses.io você pode enviar tarefas diretamente.
                    </div>
                </div>
            </div>
        </div>
    </div>
