@import "../../consts.scss";
@import "../../mixins.scss";

.features {
  border-radius: 0px 0px 80px 80px;
  background: $background-color;
  background: linear-gradient(180deg, white 10%, rgba(247, 248, 251, 0.9948354342) 20%, #b2cef9 100%);
  .texto {
    padding: 5% 10% 5% 20%;

    &__titulo {
      font-size: 2rem;
      font-weight: bolder;
      line-height: 2.2rem;

      span {
        color: $primary-color;
      }
    }

    &__corpo {
      font-size: 1rem;
      text-align: justify;
      line-height: 2rem;
      padding-bottom: 5%;
      border-bottom: $gray-color solid 2px;
    }
  }

  .ui {
    &.card {
      border-radius: 20px;
      height: 200px;
    }
  }

  .ui.card.content {
    padding: 15%;
  }

  .icon-grid {
    color: $primary-color;
    background-color: $background-icon;
    padding: 2%;
    margin-bottom: 10px;
    width: max-content;
    border-radius: 5px;
    font-size: 1.2rem;
  }
}
