<div id="sobre" class="about">
  <div class="ui stackable two column grid" style="margin: 0">
    <div class="column coluna--texto">
      <div class="texto">
        <div class="texto__titulo"><span>O que é </span></div>
        <div class="texto__titulo texto__titulo--secondary"> <span> Klasse.IO ? </span> </div>
        <div class="texto__corpo">
          <span>Klasses.IO é uma plataforma de aulas on-line de estudantes para estudantes. Com esta
            plataforma, você
            pode fazer aprendizado escolar e palestrar em qualquer lugar </span>
        </div>
      </div>
      <div class="contato">
        <span> Sua agência ou escola deseja trabalhar conosco? </span>
        <a href="#"> leia o procedimento de cooperação <i class="ui angle right icon"></i></a>
      </div>
    </div>
    <div class="column" style="text-align: center; padding: 0">
      <img src="./assets/telas.PNG" alt=" Quatro celulares com telas diferentes do Klasse.IO." draggable="false">
    </div>
  </div>
  <div class="ui stackable center aligned two column grid" style="margin: 0">
    <div class="column coluna--imagem" style="text-align: center; padding: 0">
      <img src="./assets/2.png" alt="Garota entusiasmada segurando celular." draggable="false">
    </div>
    <div class="column coluna--texto">
      <div class="texto">
        <div class="texto__titulo"><span>Escola e Faculdade</span></div>
        <div class="texto__titulo texto__titulo--secondary"> <span> Sem complicações! </span> </div>
        <div class="texto__corpo">
          <span>Somente na sua mão você pode acessar material, visualizar agendas, ter aulas, visualizar
            tarefas para completar tarefas. </span>
        </div>
      </div>
      <div class="contato">
        <span> Envie arquivos e baixe materiais em vários formatos</span>
        <span><strong>Formato de arquivos (DOCX/PDF,PPT, XLS, MP4)</strong></span>
      </div>
    </div>
  </div>
  <div class="ui stackable two column grid container" style="margin: 0 ">
    <div class="column coluna--texto">
      <div class="texto">
        <div class="texto__titulo "><span>Aprendizagem Online </span></div>
        <div class="texto__titulo texto__titulo--secondary"> <span> Mais Efetiva! </span> </div>
        <div class="texto__corpo ">
          <span>Quando o aprendizado offline não puder ser realizado, você evitará tarefas sob o pretexto de
            "substituir o aprendizado offline". Use Klasses.io para sempre se conectar com seu professor ou
            instrutor! </span>
        </div>
      </div>
      <div class="contato">
        <span> O recurso de <b>bate-papo</b> ajudará você na <b>consulta</b> </span>
        <span> ou apenas uma pergunta e resposta com seu <b>professor / instrutor</b> </span>
        <i class="ui angle right "></i>
      </div>
    </div>
    <div class="column coluna--imagem" style="text-align: center; padding: 0 ">
      <img src="./assets/3.png " alt="Garota pensativa com caderno na mão, e alguns livros ao lado." draggable="false ">
    </div>
  </div>
</div>
