<div class="ui secundary menu borderless navbar" id="menuComputador">
    <div class="ui item logo">
        <img src="./assets/logo.png" draggable="false">
        <p> Klasse.io </p>
    </div>
    <a href="#about" class="item" >Sobre</a>
    <a href="#features" class="item" >Funcionalidades</a>
    <a href="#feedbacks" class="item" > Depoimentos</a>
    <button class="ui primary basic button" >
    Download
  </button>
</div>

<div class="ui menu borderless" id="menuCelular">
    <div class="item">
        <img src="./assets/logo.png" alt="logotipo do Klasse IO" draggable="false">
    </div>
    <a href="#about" class="item">
         Sobre
    </a>
    <a href="#features" class="item">
        Funcionalidades
    </a>
    <a href="#feedbacks" class="item">
        Depoimentos
    </a>
</div>
