@import "../../consts.scss";

.navbar {
  background: transparent;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  padding: 20px 0;

  a {
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
  }

  .logo {
    padding: 0px 20px;

    p {
      font-size: 1.5rem;
      color: $primary-color;
      font-weight: bolder;
      letter-spacing: 0.2rem;
    }
  }
}
