<div class="download" id="download">
    <h2 class="download__titulo"> Faça parte da <span class="secundary-color">mudança</span> agora! </h2>
    <span class="download__corpo"> Vamos participar do avanço da educação brasileira na geração 4.0 com o Klasse.IO</span>
    <div>
        <button class="ui primary button" title="Clique para realizar download" style="margin-right: 10px"> Download </button>
        <button class="ui primary basic button"  title="Clique para entrar em contato conosco"> Contato </button>
    </div>
</div>
