.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
    &__titulo {
        margin-bottom: 3%;
        text-align: center;
        font-size: 2.5rem;
        font-weight: bolder;
        line-height: 2.5rem;
    }
    &__corpo {
        text-align: center;
        font-size: 1rem;
        color: gray;
        margin-bottom: 3%;
    }
}
