<div class="download" id="download">
    <h2 class="download__titulo"> Faça parte da <span>mudança</span> agora! </h2>
    <span class="download__corpo"> Vamos participar do avanço da educação brasileira na geração 4.0 com o Klasse.IO</span>
    <div>
        <button class="ui primary button margin-right-10" aria-label="Clique para realizar download" > Download </button>
        <button class="ui primary basic button"  aria-label="Clique para entrar em contato conosco"> Contato </button>
    </div>
</div>
