@import "../../consts.scss";
@import "../../mixins.scss";

.feedbacks {
  padding: 5% 0;

  &__titulo {
    text-align: left;
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 2.8rem;
    padding-left: 15%;
    padding-bottom: 5%;

    span {
      color: $secondary-color;
    }
  }

  &__texto {
    padding-top: 20%;
    display: flex;
    flex-direction: column;

    &__citacao {
      font-size: 1rem;
      line-height: 2rem;
    }

    &__autor {
      margin-top: 5%;
      font-size: 0.8rem;

      span {
        color: $secondary-color;
      }
    }
  }
}

.column {
  background-color: $tertiary-color;
}

.imagem {
  @include flex(column, normal, flex-end );
  margin: 0 10%;
}
