<div style="width: 100%;">
    <div class="feedback">
        <div class="feedback__item">
            <span style="color: #194990"> 5 </span> <span style="font-weight: bold;">+</span>
            <div class="feedback__item__texto">
                <p> Anos de confiança do ministério da educação e cultura. </p>
            </div>
        </div>
        <div class="feedback__item">
            <span style="color: #194990"> 400 </span> <span style="font-weight: bold;">+</span>
            <div class="feedback__item__texto" style="border-left: #cac7c7 solid 2px; border-right: #cac7c7 solid 2px">
                <p> Agências e escolas que trabalharam juntas.</p>
            </div>
        </div>
        <div class="feedback__item">
            <span style="color: #194990;"> 15.000.000 </span> <span style="font-weight: bolder;">+</span>
            <div class="feedback__item__texto">
                <p>Usuários e todos os estudantes brasileiros que usam.</p>
            </div>
        </div>
    </div>
