<div class="feedbacks" id="feedbacks">
    <div class="titulo">
        <span class="secundary-color">Histórias inspiradoras dos</span><br><span>usuários do Klasse.IO</span>
    </div>
    <div class="ui two column grid" style="margin: 0">
        <div class="column">
            <div class="texto" style="padding-left: 35%;">
                <span class="texto__citacao">
                O klasse.io realmente facilitou o estudo on-line em meio à pandemia do Covid-19. Que inicialmente recebeu
                apenas uma tarefa, o professor acabou mudando para a aula, ou seja, o aprendizado tornou-se mais eficaz, assim
                como as aulas offline
                </span>
                <span class="texto__autor secundary-color"> Jerome Benedictus - Mahasiswa Universitas Jebres</span>
            </div>
        </div>
        <div class="column ">
            <img src="../../assets/4.PNG ">
        </div>
    </div>
    <div class="ui two column grid " style="margin: 0 ">
        <div class="column ">
            <div class="imagem ">
                <img src="../../assets/5.PNG ">
            </div>
        </div>
        <div class="column ">
            <div class="texto " style="padding-right: 35%; ">
                <span class="texto__citacao ">
                  Fui muito ajudado pelo Klasse.IO. As aulas online estão se tornando mais interativas. As tarefas dos alunos são bem organizadas. Eu acho que todas as escolas e instituições no Brasil devem usar isso.

        </span>
                <span class="texto__autor secundary-color "> Muhammad Al Katiri - Professor Universitário de Banjarsari</span>
            </div>
        </div>
    </div>
</div>
