$primary-color: #194990;
$secondary-color: #3a83f0;
$tertiary-color: #f5f9fe;
$background-color: rgb(178, 206, 249);
$background-gradient: linear-gradient(180deg, rgba(178, 206, 249, 1) 5%, rgba(212, 222, 252, 0.9948354341736695) 100%);
$gray-color: gray;
$border-introducao: #cac7c7 solid 2px;
$feedback-background: #f5f9fe;
$background-icon: #ecf3fe;
