@font-face {
  font-family: Poppins;
  src: url(assets/Poppins/Poppins-Medium.ttf) format("truetype");
}

* {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

.margin {
  &-0 {
    margin: 0 !important;
  }

  &-right {
    &-10 {
      margin-right: 10px;
    }
  }

  &-top {
    &-0 {
      margin-top: 0 !important;
    }
  }
}

.ui {
  &.item {
    width: 200px;
    justify-content: center;
  }

  &.primary {
    &.basic {
      &.button {
        font-weight: bolder;
        width: 150px;
        font-size: 1.1rem;
      }
    }
  }

  &.menu {
    border: 0 none !important;
    box-shadow: none;
  }
}

@media screen and (min-width: 501px) {
  #meuDesktop {
    margin: 0;
    visibility: visible;
  }
  #menuSmartphone {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #menuDesktop {
    display: none;
  }

  #menuSmartphone {
    visibility: visible;
    font-size: 0.9rem;
    margin: 0;
    background-color: transparent;
    width: 100%;
    justify-content: center;
  }
}
